* {
	box-sizing:border-box;
}
body {
	background-color: #373737;
}
#NavBar {
	padding-top:34px;
	position:fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 150px;
	height:100%;
	border-right: 1px solid black;
	background-color: #0d5694;
}
#NavBarLi {
	text-align: center;
	padding-bottom: 10px;
	padding-top:10px;
	list-style: none;
	color: white;
	font-family: Montserrat;
}
#NavBarLi:hover {
	background-color:black;
	cursor:pointer;
}
#NavBarUl {
	padding:0;
}
#SubNavBar {
	padding-top:50px;
	position: absolute;
	background-color: #373737;
	left: 150px;
	top: 0px;
	width:150px;
	height: 100%;
}
#SubNavBarLi {
	list-style: none;
	padding-top:10px;
	padding-bottom: 10px;
	font-family: Montserrat;
	color: white;
}
#SubNavBarLi:hover {
	background-color:#c13030;
	cursor:pointer;
}
#SubNavBarUl {
	text-align:center;
	padding: 0;
}
#DocumentLoaderBox {
	margin-left: 15px;
	margin-bottom:15px;
	background-color: white;
	position: absolute;
	bottom:0px;
	height: 400px;
	padding-top:25px;
	width:600px;
	border-radius:3px;
	border: 1px solid black;
}
#DocumentLoaderSpan {
	font-family: Montserrat;
	font-size: 20px;
	position: absolute;
	bottom:400px;
	left:0px
}
#DocumentMenuBar {
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	height:35px;
	background-color: #0d5694;
	border-bottom: 1px solid black;
}
#PreviewiFrame {
	pointer-events:none;
	position:absolute;
	right: 0px;
	top: 0px;
	width:978px;
	border:none;
	height: 100vh;
}
#iFramePlaceHolder {
	pointer-events:none;
	position:absolute;
	right: 0px;
	top: 0px;
	width:978px;
	border:none;
	height: 100vh;
}
#OpenButton {
	color:white;
	line-height: 35px;
	font-family:montserrat;
	padding-left:3px;
}
#OpenButtonContainer {
	padding-left: 5px;
	color:white;
}
#wordDocImg {
	width:50px;
	display:block;
	margin-left:25px;
}
#aDocument {
	float:left;
	padding-right:10px;
}
#DocumentManager {
	padding-top:50px;
	height:100%;
	background-color:#f4f4f4;
	position:absolute;
	top:0px;
	left:300px;
	width:630px;
	z-index:-1;
}
#BannerBar {
   position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #0d5694;
  z-index: 1;
  margin-bottom: 50px;
}
#BannerBarLogo {
	padding-left:13px;
	font-family:montserrat;
	color:white;
	text-decoration:underline;
	font-size: 30px;
	line-height:50px;
}
#DocumentLoaderNoTab {
	font-family:montserrat;
	padding-top:150px;
	padding-left: 164px;
}
#TemplaterLoaderNoTab {
	font-family:montserrat;
	padding-top:150px;
	padding-left: 164px;
}
#TemplaterLoaderBox {
	height:300px;
	margin-left:15px;
	width: 500px;
	background-color:white;
	position:absolute;
	top:85px;
	width:600px;
	border-radius:3px;
	border: 1px solid black;
}
#TemplateLoaderSpan {
	font-family: Montserrat;
	font-size: 20px;
	position: absolute;
	bottom:300px;
	left:0px
}
#aTemplate {
	padding-top:150px;
}